<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body>
    <%= render partial: 'spree/shared/header' %>
    <%= yield %>
    <%= render partial: 'spree/shared/footer'%>
  </body>
</html>
