<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body>
    <%= render partial: 'spree/shared/header' %>
    <% if flash.any? %>
    <div class='ui basic modal'>
        <div class="ui icon header">
          <div>
            <%= image_tag 'main-logo.png' %>
          </div>
          Notification
        </div>
        <div class="content">
          <% flash.each do |type,message| %>
            <p class='text-center raleway'> <%= message %></p>
          <% end %>
        </div>
        <div class='actions'>
          <div class="ui green basic cancel inverted button">
            <i class="papel plan outline icon"></i>
            Got It!
          </div>
        </div>
      </div>
      <%= javascript_include_tag 'modal_open'%>
    <% end %>
    <%= yield %>
    <%= render partial: 'spree/shared/footer'%>
  </body>
</html>
