<% @body_id = 'cart' %>
  <% if @order.line_items.empty? %>
    <div  class='grid-y grid-frame align-center '>
      <h2 class='raleway text-center'><%= t('spree.your_cart_is_empty') %></h2>
      <p class='text-center'><%= link_to t('spree.continue_shopping'), products_path, class: 'button ui teal' %></p>
    </div>
  <% end %>
<div id='cart' class='grid-container grid-x' data-hook="cart_container">
  

  <% if @order.line_items.empty? %>

    <!--div  class='cell grid-x align-center small-12'>
      <div class='cell shrink align-center medium-10'><%= image_tag 'empty_cart.jpg', class:"cell shrink"%></div>
      <h2 class='cell medium-12 raleway text-center'><%= t('spree.your_cart_is_empty') %></p></h2>
      <p><%= link_to t('spree.continue_shopping'), products_path, class: 'button ui teal' %></p>
    </div-->

  <% else %>
    <h1 class='mon cell small-12'><%= t('spree.shopping_cart') %></h1>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items">
            <%= render 'form', order_form: order_form %>
          </div>

          <div class="grid-x grid-padding-y small-align-justify" data-hook="cart_buttons">
            <%= order_form.text_field :coupon_code, class:['ui input'],size: 10, placeholder: t('spree.coupon_code') %>
            <%= button_tag class: ' ui button small-5 cell medium-shrink violet', id: 'update-button' do %>
              <%= semantic_icon('cart') %>
              <%= t('spree.update') %>
            <% end %>
            <%= button_tag class: 'button cell small-5 medium-shrink ui checkout purple', id: 'checkout-link', name: 'checkout' do %>
              <%= semantic_icon('arrow right') %>
              <%= t('spree.checkout') %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <div id="empty-cart" data-hook class='grid-x'>
      <%= form_tag empty_cart_path, method: :put do %>
        <p id="clear_cart_link" data-hook>
        <%= submit_tag t('spree.empty_cart'), class: 'button ui gray' %>
        <span class='nunito'><%= t('spree.or') %></span>
        <%= link_to t('spree.continue_shopping'), products_path, class: 'ui button orange inverted' %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>
