 <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
<div class='cell medium-3 small-11 large-4'>
    <div class='card'>
        <div class='grid-x align-center'>
          <%= link_to(render('spree/shared/image', image: product.display_image, size: :large, itemprop: "image"), url, itemprop: 'url', class:['align-center'])%>
        </div>
        <div class="card-divider">
          <h5 class='raleway cell text-center'><%= truncate(product.name, length: 30) %></h5>
        </div>
        <div class="card-section">
          <h4 class='cell text-center'>
            <% if price = product.price_for(current_pricing_options) %>
                <span class="price selling" itemprop="price" content="<%= price.to_d %>">
                  <%= price.to_html %>
                </span>
              <% end %>
              <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </h4>
          <div class="ui horizontal divider"><%= truncate(t('spree.description'),length: 36) %></div>
          <p class='cell text-center mon'><%= truncate(product.meta_description, length: 50) %></p>
        </div>
    </div>
</div>
<!--div class='radius bordered shadow card'>
        <div class='grid-x align-center'>
          <%= link_to(render('spree/shared/image', image: product.display_image, size: :large, itemprop: "image"), url, itemprop: 'url', class:['align-center'])%>
        </div>
        <div class="card-divider">
          <h5 class='raleway'><%= truncate(product.name, length: 30) %></h5>
        </div>
        <div class="card-section">
          <h4>
            <% if price = product.price_for(current_pricing_options) %>
                <span class="price selling" itemprop="price" content="<%= price.to_d %>">
                  <%= price.to_html %>
                </span>
              <% end %>
              <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </h4>
          <p><%= truncate(product.description, length: 50) %> <%= link_to "Show more...", url, class:['button','ui','small','mon','showmore'] %></p>
        </div>
    </div-->